[project]
	description = Just a test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Victor Gartvich (vgartvich)
[access "refs/for/refs/*"]
	read = group user/Victor Gartvich (vgartvich)
	push = group user/Victor Gartvich (vgartvich)
	label-Code-Review = -2..+2 group user/Victor Gartvich (vgartvich)
	label-Verified = -1..+1 group user/Victor Gartvich (vgartvich)
	rebase = group user/Victor Gartvich (vgartvich)
	removeReviewer = group user/Victor Gartvich (vgartvich)
	submit = group user/Victor Gartvich (vgartvich)
[access "refs/heads/*"]
	read = group user/Victor Gartvich (vgartvich)
	create = group user/Victor Gartvich (vgartvich)
	push = +force group user/Victor Gartvich (vgartvich)
	pushMerge = group user/Victor Gartvich (vgartvich)
[access "refs/tags/*"]
	push = +force group user/Victor Gartvich (vgartvich)
	pushTag = group user/Victor Gartvich (vgartvich)
	pushSignedTag = group user/Victor Gartvich (vgartvich)
