[project]
	description = Just a test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vgartvich
[access "refs/for/refs/*"]
	read = group user/vgartvich
	push = group user/vgartvich
	label-Code-Review = -2..+2 group user/vgartvich
	label-Verified = -1..+1 group user/vgartvich
	rebase = group user/vgartvich
	removeReviewer = group user/vgartvich
	submit = group user/vgartvich
[access "refs/heads/*"]
	read = group user/vgartvich
	create = group user/vgartvich
	push = +force group user/vgartvich
	pushMerge = group user/vgartvich
[access "refs/tags/*"]
	push = +force group user/vgartvich
	pushTag = group user/vgartvich
	pushSignedTag = group user/vgartvich
